@media (prefers-color-scheme: dark) {
    .majorBox, .minorBox {
        border: 0px solid white;
    }
    body {
        color: white;
        background-color: black;
    }
}
@media (prefers-color-scheme: light) {
    .majorBox, .minorBox {
        border: 0px solid black;
    }
}


body {
    padding: 0;
    font-family: "Tahoma", sans-serif;
}

#title {
    text-align: center;
    font-size: 3em;
    font-weight: lighter;
}

#gameContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 72vmin;
    height: 72vmin;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.majorBox {
    display: grid;
    grid-template-columns: auto auto auto;
}
.majorBox.disabled {
    opacity: 0.4;
}
.majorBox.gameOver {
    opacity: 0.4;
}

.minorBox {
    text-align: center;
    font-weight: bold;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#gameContainer.crossTurn > .majorBox:not(.disabled) > .minorBox:not(.cross):not(.circle):hover {
    cursor: pointer;
    background-color: rgba(50, 50, 255, 0.3); 
}
#gameContainer.circleTurn > .majorBox:not(.disabled) > .minorBox:not(.cross):not(.circle):hover {
    cursor: pointer;
    background-color: rgba(255, 183, 50, 0.3);
}

.cross {
    color:  rgb(50, 50, 255);
}
.circle {
    color: rgb(253, 182, 50);
}

svg {
    /* background-color: white; */
    border: 1px solid black;
}